<div class="container-fluid mt-3">

    <div class="row">

        <div class="col-12 col-md-12">
            <h2>Despesas
                <button type="button" class="btn btn-sm rounded-circle btn-expense" (click)="modalCreateExpense()" [hidden]="Wallet?.length == 0">
                    <i class="fas fa-plus"></i>
                </button>
                <button type="button" class="btn btn-sm btn-wallet" tooltip="Adicione uma conta para cadastrar em despesa" [hidden]="Wallet?.length != 0"
                    (click)="modalCreateWallet()">
                    Adicionar conta
                </button>
            </h2>
        </div>

    </div>
    <div class="row mb-3" [hidden]="Expense?.length === 0">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <h5 class="mb-0">Total de despesas: {{ valor | currency : 'BRL' }}</h5>
        </div>

        <div class="col-12 col-md-6 income-icon-link text-end d-flex justify-content-end">

            <a routerLink="expense-bar-graph/expense-pie-graph" class="me-3">
                <i class="fas fa-chart-bar income-icon" title="Gráfico"></i>
            </a>

            <a routerLink="expense-history" class="me-3">
                <i class="fas fa-history income-icon text-secondary" title="Histórico"></i>
            </a>
            
        </div>
        <div class="container-fluid" *ngIf="Expense?.length !== 0">
        

            <router-outlet></router-outlet>
    
        </div>
        
    </div>
    

    <div class="d-flex justify-content-center h-25" *ngIf="Expense?.length === 0">
        <div class="col-10 d-flex justify-content-center">

            <img class="img-financialPlanning w-50" src="assets/img/jaconda-online-store.png" alt="imagem" tooltipClass="bg-success"
             tooltip="Adicione uma despesa para começar a se organizar financeiramente :)" placement="right">
        </div>


    </div>

</div>