<div class="d-flex flex-column min-vh-100">

  <nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="container-fluid">

      <a routerLink="/dashboard/dashboard-bar-graph/income-pie/expense-pie/financial-progress"
        class="navbar-brand logo">Poket+</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarScroll">

        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page"
              routerLink="/dashboard/dashboard-bar-graph/income-pie/expense-pie/financial-progress">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="wallet">Contas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page"
              routerLink="expense/expense-bar-graph/expense-pie-graph">Despesas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="income/income-bar-graph/income-pie-graph">Rendas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="financial-planning">Planejamentos</a>
          </li>
        </ul>


        <div class="dropdown" *ngIf="authService.userData as user">
          <button class="btn btn-user dropdown-toggle" type="button" id="dropdownUser" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="far fa-user-circle pe-1 userIcon"></i> {{ user.displayName }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end px-0" aria-labelledby="dropdownUser">
            <li><a class="dropdown-item" routerLink="update-user">Perfil</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#" (click)="authService.SignOut()">Sair</a></li>
          </ul>
        </div>

      </div>
    </div>
  </nav>




  <main class="flex-fill">


    <router-outlet></router-outlet>


  </main>




  <footer class="border-top text-muted bg-light">
    <div class="container">

      <div class="row py-3">

        <div class="col-12 text-center">
          &copy; {{ thisYeah }} - Poket+ <br>

        </div>

      </div>
    </div>

  </footer>
</div>

