<div class="d-flex flex-column min-vh-100"> 

  <nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="container-fluid">
      
      <a href="/dashboard" class="navbar-brand logo">Poket+</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarScroll">

        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="wallet">Contas</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" aria-current="page" routerLink="expense/expense-graph">Despesas</a> -->
            <a class="nav-link" aria-current="page" routerLink="expense/expense-history">Despesas</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" aria-current="page" routerLink="income/income-graph">Rendas</a> -->
            <a class="nav-link" aria-current="page" routerLink="income/income-history">Rendas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="financial-planning">Planejamentos</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" aria-current="page" routerLink="financial-planning-history">financial-planning-history</a> -->
          </li>
        </ul>


        <div class="dropdown" *ngIf="authService.userData as user">
          <button class="btn btn-user dropdown-toggle" type="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-user-circle pe-1"></i> {{ user.displayName }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end px-0" aria-labelledby="dropdownUser">
            <li><a class="dropdown-item" routerLink="update-user" >Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="authService.SignOut()">Sair</a></li>
          </ul>
        </div>

      </div>
    </div>
  </nav>


  

  <!-- <main class="flex-fill d-flex align-items-center">  -->
    <main class="flex-fill">
      

          <router-outlet></router-outlet>

          <!-- <div class="col d-flex justify-content-center" *ngIf="authService.userData as user"> -->
            

            <!-- <h5>Em desenvolvimento... </h5> -->
            
            <!-- <ul>
              <li><h1>Hello: <strong>{{ user.displayName }}</strong></h1> </li>
              <li><p>User ID: <strong>{{user.uid}}</strong></p></li>
              <li><p>Email: <strong>{{user.email}}</strong></p></li>
            </ul> -->
            
            
            
            
            <!-- <img src="assets/img/jaconda-55.png" alt="Em construção - Illustration by Karina Tsoy from Ouch!" style="width: 50%;"> -->
          <!-- </div> -->

        
  </main>




  <footer class="border-top text-muted bg-light" >
      <div class="container">
  
          <div class="row py-3">
  
              <div class="col-12 text-center">
                  &copy; 2021 - Poket+ <br>
                  
              </div>
              
          </div>
      </div>
  
  </footer>
</div>








<!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
      Logo
    </a>
  </nav>
  

  <div class="container-fluid">
    <div class="row">
  
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active">
                <i class="fas fa-user"></i>User Profile
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
 
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
  
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">User Profile</h1>
          </div>
          <div class="row" *ngIf="authService.userData as user">
            <div class="col-md-12">
              <div class="media">
                <div class="media-body">
                  <h1>Hello: <strong>{{ user.displayName }}</strong></h1> 
                  <p>User ID: <strong>{{user.uid}}</strong></p>
                  <p>Email: <strong>{{user.email}}</strong></p>
                  <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                  <p> senha: {{ user.password }} </p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </main>
  
    </div>
  </div> -->