<div class="d-flex justify-content-end">
    <div class="col-12 col-md-3 mb-3">
        <div class="input-group filterSearch w-md-25">

            <input class="form-control form-control-sm" type="text" name="filterIncome" [(ngModel)]="filterIncome"
                placeholder="Filtro">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>

    </div>
</div>


<div class="row">

    <div class="d-flex justify-content-center" *ngFor="let income of Income | paginate: { itemsPerPage: 10, 
        currentPage: page,  
        totalItems: totalLength} | filter:filterIncome; index as i ">
        <div class="col-10">

            <div class="card income-card mb-2">
                <div class="card-header p-2 d-flex justify-content-between">

                    <ul class="ps-0 align-items-left income-list-card">
                        <li><strong>{{ income.renda }}</strong></li>
                        <li>{{ income.tipoRenda }} | {{ income.conta }}</li>
                    </ul>

                    <ul class="income-list-card-actions">
                        <li>

                            <button type="button" class="btn btn-sm rounded-circle me-2 btn-warning"
                                (click)="modalEditIncome(income)">
                                <i class="fas fa-pen text-light h-100" title="Editar renda"></i>
                            </button>
                            <button type="button" class="btn btn-sm rounded-circle me-2 btn-danger"
                                (click)="modalDeleteIncome(income)">
                                <i class="fas fa-trash-alt h-100" title="Excluir renda"></i>
                            </button>
                            <button type="button" class="btn btn-sm rounded-circle me-2 btn-info text-light"
                                popover="{{ income.observacao }}" popoverTitle="Observação" [outsideClick]="true"
                                placement="bottom">
                                <i class="fas fa-info h-100"></i>
                            </button>


                        </li>
                    </ul>

                </div>

                <div class="card-body income-card-body">

                    <ul class="d-flex ps-0 justify-content-between mb-0">
                        <li>{{ income.valorRenda | currency : 'BRL' }}</li>
                        <li>{{ income.dataRenda | date: 'dd/MM/yyyy' }}</li>
                    </ul>


                </div>
            </div>


        </div>
    </div>
</div>


<pagination-controls class="text-center income-pagination" (pageChange)="page = $event" [hidden]="Income?.length <= 10"
    previousLabel="" nextLabel="">
</pagination-controls>