.filterSearch {
    width: 30%;
}

.filterSearch span {
    background-color: white;
}

.filterSearch span i {
    color: #198754;
}

.wallet-card {
    box-shadow: 0;
    border-left: #198754 solid 5px;
}
.wallet-card:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.wallet-card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet-list-card {
    list-style: none;
    padding: 0;
}

.circle-wallet {
    height: 25px;
    width: 25px;
    /* background-color: blueviolet; */
    
}

.wallet-buttons-card button {
    height: 25px;
    width: 25px;
}

.wallet-buttons-card button i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.income-card{
    display: flex;
    align-items: center;
}


.income-list-card {
    list-style: none;
    padding: 0;
}

.income-list-card {
    width: 100%;
    
    
}

.income-list-card li{
    width: 100%;
    border-right: 1px gray solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.income-list-card li:nth-child(6){
    border-right: none;
}
