.filterSearch {
    width: 30%;
}

.filterSearch span {
    background-color: white;
}

.filterSearch span i {
    color: #198754;
}

.wallet-card {
    box-shadow: 0;
    border-left: #198754 solid 5px;
}
.wallet-card:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.wallet-card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet-list-card {
    list-style: none;
    padding: 0;
}

.circle-wallet {
    height: 25px;
    width: 25px;
    /* background-color: blueviolet; */
    
}

.wallet-buttons-card button {
    height: 25px;
    width: 25px;
}

.wallet-buttons-card button i {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .income-card{
    display: flex;
    align-items: center;
} */


/* .income-list-card {
    list-style: none;
    padding: 0;
    width: 100%;
}

.income-list-card li{
    width: 100%;
    border-right: 1px gray solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.income-list-card li:nth-child(6){
    border-right: none;
} */

.income-pagination /deep/ .ngx-pagination .current {
    background-color: #9fe080;
}




.income-card {
    border-left: #9fe080 5px solid;
    box-shadow: 0;
}

.income-card:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.income-card .card-header {
    height: 60px;
}

.income-card .card-header ul{
    height: 10px;
}

.income-list-card,
.income-list-card-actions,
.income-card-body ul {
    list-style: none;
}

.income-card-body ul li {
    font-size: 0.9rem;
}

.income-list-card li:nth-child(2){
    font-size: 0.8rem;
}

.income-list-card-actions button{
    height: 25px;
    width: 25px;
}

.income-list-card-actions button i{
    display: flex;
    justify-content: center;
    align-items: center;
}


