<!-- Modal de alterar senha do usuário -->

<div class="modal-header">

    <h5 class="modal-title" id="exampleModalLabel">
        Alterar usuário
    </h5>

    <button type="button" class="btn-close" (click)="closeModal()"></button>
</div>
<!-- Adiciona saldo -->
<form [formGroup]="updatePassword" (ngSubmit)="editPassword()">

    <div class="modal-body">

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="pwdUser" minlength="6" maxlength="30"
                formControlName="password" required>
            <label for="pwdUser" class="col-form-label">Nova senha</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="conCwdUser" minlength="6" maxlength="30" 
                formControlName="confirmPassword" required>
            <label for="conCwdUser" class="col-form-label">Confirme a nova senha</label>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-warning text-light">Editar</button>
    </div>
</form>