<form [formGroup]="editUserPassword" (ngSubmit)="onSubmit()" class="row">

    <div class="form-floating mb-3">
                
        <input type="password" class="form-control" id="oldPwd" minlength="6" maxlength="30" formControlName="oldPassword" autofocus>
        <label for="oldPwd">Antiga senha</label>

    </div>

    <div class="form-floating mb-3">
                
        <input type="password" class="form-control" id="newPdw" minlength="6" maxlength="30" formControlName="password" autofocus>
        <label for="newPdw">Nova senha</label>

    </div>

    <div class="form-floating mb-3">
        
        <input type="password" class="form-control" id="pwdConfirm" minlength="6" maxlength="30" formControlName="confirmPassword">
        <label for="pwdConfirm">Confirme a nova senha</label>

    </div>
    
    <div class="col-12 col-md-12 text-end">
        <button type="submit" class="btn btn-lg btn-success">
            Alterar senha
        </button>
    </div>


</form>