<div class="container-fluid mt-3">

    <div class="row">

        <div class="col-12 col-md-12">
            <h2>Contas
                <button type="button" class="btn btn-sm rounded-circle btn-wallet" (click)="modalCreateWallet()">
                    <i class="fas fa-plus"></i>
                </button>
            </h2>
        </div>

    </div>
    <div class="row mb-3" [hidden]="Wallet?.length === 0">
        <div class="col-12 col-md-9 d-flex align-items-center">
            <h5 class="mb-0">Saldo total: {{ valor | currency : 'BRL' }}</h5>
        </div>
        <div class="col-12 col-md-3 mt-2 mt-md-0 pe-md-3">
            <div class="input-group filterSearch w-md-25">
                
                <input class="form-control form-control-sm " type="text" name="filterWallet" [(ngModel)]="filterWallet" placeholder="Filtro">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            
        </div>
        
    </div>
    
    <div class="row">

        <div class="col-12 col-sm-4 col-md-2" *ngFor="let wallet of Wallet | paginate: { itemsPerPage: 18, 
            currentPage: page,  
            totalItems: totalLength} | filter:filterWallet; index as i" [hidden]="Wallet?.length === 0">
            <!-- <div *ngIf="i < 16"> -->

                <div class="card wallet-card my-3">
                    <div class="card-header">
                        <ul class="d-flex wallet-list-card mb-0">
                            <!-- <li class="rounded-circle circle-wallet bg-success me-2"></li> -->
                            <li><strong>{{ wallet.conta }}</strong></li>
                        </ul>


                        <div class="wallet-buttons-card">

                            <button type="button" class="btn btn-sm rounded-circle me-2 btn-warning"
                                (click)="modalEditWallet(wallet)">
                                <i class="fas fa-pen text-light h-100"></i>
                            </button>

                            <button type="button" class="btn btn-sm rounded-circle btn-danger"
                                (click)="modalDeleteWallet(wallet)">
                                <i class="fas fa-trash-alt h-100"></i>
                            </button>
                        </div>

                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <strong> {{ wallet.valor | currency : 'BRL' }}</strong>
                        </p>
                    </div>
                </div>
            <!-- </div> -->
        </div>

    </div>


</div>

<div class="d-flex justify-content-center h-25" *ngIf="Wallet?.length === 0">
    <div class="col-10 d-flex justify-content-center">

        <img class="img-financialPlanning w-50" src="assets/img/jaconda-43.png" alt="imagem" tooltipClass="bg-success"
         tooltip="Adicione uma conta para começar a se organizar financeiramente :)" placement="right">
    </div>


</div>

<pagination-controls class="text-center financial-pagination"
    (pageChange)="page = $event" 
    [hidden]="Wallet?.length <= 18"
    previousLabel="" 
    nextLabel="">
</pagination-controls>