/* .filterSearch {
    width: 30%;
} */

.filterSearch input{
    border-right: none;
}

.filterSearch input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    border-right: none;
    border-left: 1px solid rgb(197, 197, 197);
    border-top: 1px solid rgb(197, 197, 197);
    border-bottom: 1px solid rgb(197, 197, 197);
}

.filterSearch span {
    background-color: white;
    border-left: none;
}

.filterSearch span i {
    color: #f8b238;
}

.wallet-card {
    box-shadow: 0;
    border-left: #f8b238 solid 5px;
}
.wallet-card:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.wallet-card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet-list-card {
    list-style: none;
    padding: 0;
}

.circle-wallet {
    height: 25px;
    width: 25px;
    /* background-color: blueviolet; */
    
}

.wallet-buttons-card button {
    height: 25px;
    width: 25px;
}

.wallet-buttons-card button i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.financial-pagination /deep/ .ngx-pagination .current {
    background-color: #f8b238;
}