<div class="container-fluid mt-3">

    <div class="row">

        <div class="col-12 col-md-12">
            <h2>Contas
                <button type="button" class="btn btn-sm rounded-circle btn-success" (click)="modalCreateWallet()">
                    <i class="fas fa-plus"></i>
                </button>
            </h2>
        </div>

    </div>
    <div class="row mb-3">
        <div class="col-2 d-flex align-items-center">
            <h5 class="mb-0">Saldo total: R$: {{ valor }}</h5>
        </div>
        <div class="col-10 text-end d-flex justify-content-end">
            <div class="input-group filterSearch">
                
                <input class="form-control form-control-sm" type="text" name="filterWallet" [(ngModel)]="filterWallet" placeholder="Filtro">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            
        </div>
        
    </div>
    <div class="row">

        <div class="col-2" *ngFor="let wallet of Wallet | paginate: { itemsPerPage: 10, 
            currentPage: page,  
            totalItems: totalLength} | filter:filterWallet; index as i">
            <div *ngIf="i < 16">

                <div class="card wallet-card my-3">
                    <div class="card-header">
                        <ul class="d-flex wallet-list-card mb-0">
                            <!-- <li class="rounded-circle circle-wallet bg-success me-2"></li> -->
                            <li><strong>{{ wallet.conta }}</strong></li>
                        </ul>


                        <div class="wallet-buttons-card">

                            <button type="button" class="btn btn-sm rounded-circle me-2 btn-warning"
                                (click)="modalEditWallet(wallet)">
                                <i class="fas fa-pen text-light h-100"></i>
                            </button>

                            <button type="button" class="btn btn-sm rounded-circle me-2 btn-danger"
                                (click)="modalDeleteWallet(wallet)">
                                <i class="fas fa-trash-alt h-100"></i>
                            </button>
                        </div>

                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <strong> R$ {{ wallet.valor }}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<pagination-controls class="text-center financial-pagination"
    (pageChange)="page = $event" 
    [hidden]="Wallet?.length <= 10"
    previousLabel="" 
    nextLabel="">
</pagination-controls>