<div class="d-flex flex-column min-vh-100"> 
    
    
  
    <!-- <main class="flex-fill d-flex align-items-center">  -->
      <main class="flex-fill">
        
  
            <router-outlet></router-outlet>
  
            <!-- <div class="col d-flex justify-content-center" *ngIf="authService.userData as user"> -->
              
  
              <!-- <h5>Em desenvolvimento... </h5> -->
              
              <!-- <ul>
                <li><h1>Hello: <strong>{{ user.displayName }}</strong></h1> </li>
                <li><p>User ID: <strong>{{user.uid}}</strong></p></li>
                <li><p>Email: <strong>{{user.email}}</strong></p></li>
              </ul> -->
              
              
              
              
              <!-- <img src="assets/img/jaconda-55.png" alt="Em construção - Illustration by Karina Tsoy from Ouch!" style="width: 50%;"> -->
            <!-- </div> -->
  
          
    </main>
  
  <div class="container">
      <div class="row">
          <div class="col-12 ">
              <img class="vh-100" src="assets/img/jaconda-50.png" alt="404 - Illustration by Aleksandr Smetanov from Ouch!">
          </div>
      </div>
  </div>
  
  

  
  
  
  
  
  
  
  
 