<div class="d-flex flex-column min-vh-100"> 

    <nav class="navbar navbar-light mb-3">
        <div class="container-fluid">
        <a href="/landing-page" class="navbar-brand logo">Poket+</a>
        <form class="d-flex">
            <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#modalLogin">
                Login
            </button>
        </form>
        </div>
    </nav>

    <main class="flex-fill d-flex align-items-center"> 
        <div class="container">
            <!-- <div class="row min-vh-100"> -->
            <div class="row">
                <div class="col-12 col-md-6 imageText">
                    <h3>Esteja no controle do seu dinheiro e sonhos <i class="far fa-grin-wink text-warning"></i></h3>
                    <img class="h-100 w-100" src="assets/img/jaconda-34.png" alt="crescimento financeiro - Illustration by Aleksandr Smetanov from Ouch!">
                    
                </div>

                <div class="col-12 col-md-6 mb-3">
                    <form [formGroup]="userRegister" (ngSubmit)="onSubmit()" >
                        <div class="mb-2">
                            <h2 class="text-center">Cadastre-se e conheça :)</h2>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" id="nicknameRegister" maxlength="30" formControlName="displayName" required>
                            <label for="nicknameRegister" class="form-label">Apelido</label>
                        </div>
                        <div class="form-floating mb-2">
                            
                            <input type="email" class="form-control" id="emailRegister" maxlength="30" formControlName="email" required>
                            <label for="emailRegister" class="form-label">Email</label>
                        </div>
                        <div class="form-floating mb-2">
                            
                            <input type="password" class="form-control" id="passwordRegister" minlength="6" maxlength="30" formControlName="password" required>
                            <label for="passwordRegister" class="form-label">Senha</label>
                        </div>
                        <div class="form-floating mb-2">
                            
                            <input type="password" class="form-control" id="ConPasswordRegister" minlength="6" maxlength="30" formControlName="conPassword" required>
                            <label for="ConPasswordRegister" class="form-label">Confirmação de Senha</label>
                        </div>

                        

                        <!-- <div class="mb-2 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div> -->
                        
                        <button type="submit" class="btn btn-success float-end"> <!-- [disabled]="!userRegister.valid"> -->
                            Cadastrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer class="border-top text-muted bg-light" >
        <div class="container">
    
            <div class="row py-3">
    
                <div class="col-12 text-center">
                    &copy; 2021 - Poket+ <br>
                    
                </div>
                
            </div>
        </div>
    
    </footer>
</div>

  <!-- Modal Login -->
<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalLoginLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-size">
  <div class="modal-content">
    <!-- <div class="modal-header">
      <h5 class="modal-title" id="modalLoginLabel">Login</h5>
      
    </div> -->
    <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        <form class="loginAuthentic py-5">
            <div class="mb-3">
                <h2 class="text-center">Login</h2>
            </div>
            <div class="form-floating mb-3">
                
                <input type="email" class="form-control" id="emailLogin" maxlength="30" #emailLogin required>
                <label for="emailLogin" class="form-label">Email</label>
            </div>
            <div class="form-floating mb-3">
                
                <input type="password" class="form-control" id="passwordLogin" minlength="6" maxlength="30" #passwordLogin required>
                <label for="passwordLogin" class="form-label">Senha</label>
            </div>
            <p class="mt-3">
                Esqueceu a senha? <a href='/forgot-password'>Clique aqui</a> para recuperá-la.
            </p>
            <!-- <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success" (click)="authService.SignIn(emailLogin.value, passwordLogin.value)">
                    Acessar
                </button>
            </div>
        </form>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->
  </div>
</div>
</div>