.income-icon-link {
    text-decoration: none;
}

.income-icon-link a:nth-child(1) {
    color: #9fe080;
}

.income-icon-link a:nth-child(1):hover {
    color: #59BD86;
}


.income-icon {
    font-size: 20px;
}