<div class="d-flex justify-content-end">
    <div class="col-12 col-md-3 mb-3 mt-3 pe-md-3">
        <div class="input-group filterSearch w-md-25">
            
            <input class="form-control form-control-sm" type="text" name="filterExpense" [(ngModel)]="filterExpense" placeholder="Filtro">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        
    </div>
</div>

<div class="row">

    <div class="d-flex justify-content-center" *ngFor="let expense of Expense | paginate: { itemsPerPage: 10, 
        currentPage: page,  
        totalItems: totalLength} | filter:filterExpense; index as i">
        <div class="col-10">

            <div class="card expense-card mb-2">
                <div class="card-header p-2 d-flex justify-content-between">
                
                    <ul class="ps-0 align-items-left expense-list-card">
                        <li><strong>{{ expense.despesa }}</strong></li>
                        <li>{{ expense.tipoDespesa }} | {{ expense.conta }}</li>
                    </ul>

                    <ul class="expense-list-card-actions">
                        <li>
                            
                            <button type="button" class="btn btn-sm rounded-circle me-2 btn-warning" (click)="modalEditExpense(expense)">
                                <i class="fas fa-pen text-light h-100" title="Editar renda"></i>
                            </button>
                            <button type="button" class="btn btn-sm rounded-circle me-2 btn-danger" (click)="modalDeleteExpense(expense)">
                                <i class="fas fa-trash-alt h-100" title="Excluir renda"></i>
                            </button>
                            <button type="button" class="btn btn-sm rounded-circle me-2 btn-info text-light" popover="{{ expense.observacao }}"
                        popoverTitle="Observação" [outsideClick]="true" placement="top" [ngClass]="{'disabled': expense.observacao === '', 'btn-secondary': expense.observacao === '', 'btn-info': expense.observacao !== ''}">
                            <i class="fas fa-info h-100"></i>
                        </button>


                        </li>
                    </ul>

                </div>

                <div class="card-body expense-card-body">

                    <ul class="d-flex ps-0 justify-content-between mb-0">
                        <li>{{ expense.valorDespesa | currency : 'BRL' }}</li>
                        <li>{{ expense.dataDespesa | date: 'dd/MM/yyyy' }}</li>
                    </ul>


                </div>
            </div>

            
        </div>
    </div>
</div>

<pagination-controls class="text-center expense-pagination"
    (pageChange)="page = $event" 
    [hidden]="Expense?.length <= 10"
    previousLabel="" 
    nextLabel="">
</pagination-controls>