/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    font-size: 32px !important;
    font-family: 'Chewy', cursive;
    font-weight: 400;
    color: #2b9962 !important;

}

.btn-wallet{
    background-color: #f8b238;
    color: #fff;
}

.btn-wallet:hover{
    background-color: rgba(247, 192, 91, 0.856);
    color: #fff;
}

.btn-expense{
    background-color: #f47e54;
    color: #fff;
}

.btn-expense:hover{
    background-color: #df734c;
    color: #fff;
}


.btn-income {
    background-color: #9fe080;
    color: #fff;
}

.btn-income:hover{
    background-color: rgb(91, 201, 173);
    color: #fff;
}

.btn-fp {
    background-color: #1e415f;
    color: #fff;
}

.btn-fp:hover{
    background-color: #255075;
    color: #fff;
}

.txt-expense {
    color: #f47e54;
}

.txt-fp {
    color: #1e415f;
}