.filterSearch {
    width: 30%;
}

.filterSearch span {
    background-color: white;
}

.filterSearch span i {
    color: #198754;
}

.fp-list-card {
    list-style: none;
    padding: 0;
    width: 100%;
}

.fp-list-card li{
    width: 100%;
    border-right: 1px gray solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fp-list-card li:nth-child(4){
    border-right: none;
}

.img-financialPlanning {
    height: 50%;
    /* width: 50%; */
}