<div class="container-fluid mt-3">

    <div class="row">

        <div class="col-12 col-md-12" *ngIf="FinancialPlanning">
            <h2>{{ FinancialPlanning.planejamentoFinanceiro }}
                <button type="button" class="btn btn-sm rounded-circle text-light" [ngClass]="{'financial-btn-short':FinancialPlanning.tipoPF == 'Curto Prazo', 'financial-btn-medium':FinancialPlanning.tipoPF == 'Médio Prazo', 'financial-btn-long':FinancialPlanning.tipoPF == 'Longo Prazo'}"
                    (click)="modalAddFinancialPlanningHistory()">
                    <i class="fas fa-plus"></i>
                </button>
            </h2>
        </div>

    </div>
    <div class="row mb-3">
        <div class="col-12 col-md-9 mb-2 mb-md-0 d-flex align-items-center">
            <h5 class="mb-0">Saldo total: R$: {{ valor | currency : 'BRL' }}</h5>
        </div>

        <div class="col-12 col-md-3 mb-3 text-end d-flex justify-content-end">
            <div class="input-group filterSearch w-md-25">

                <input class="form-control form-control-sm" type="text" name="filterFinancialPlanning"
                    [(ngModel)]="filterFinancialPlanning" placeholder="Filtro">
                <span class="input-group-text"><i class="fas fa-search"
                    [ngClass]="{'filterIconShort':FinancialPlanning.tipoPF == 'Curto Prazo', 'filterIconMedium':FinancialPlanning.tipoPF == 'Médio Prazo', 'filterIconLong':FinancialPlanning.tipoPF == 'Longo Prazo'}"></i></span>
        </div>

        </div>

    </div>

<!-- <div class="d-flex justify-content-center" *ngIf="FinancialHistoryPlanning?.length === 0">
    <div class="col-10" >
        Ainda não tem nenhum histórico...
        <img class="img-financialPlanning" src="assets/img/jaconda-55.png" alt="imagem">
    </div>
    
    
</div> -->

<div class="d-flex justify-content-center" *ngFor="let fp of FinancialHistoryPlanning | paginate: { itemsPerPage: 10, 
    currentPage: page,  
    totalItems: totalLength} | filter:filterFinancialPlanning; index as i" >
<div class="col-12 col-md-10" >

        <div class="card fp-card mb-2" [ngClass]="{'financial-card-short':FinancialPlanning.tipoPF == 'Curto Prazo', 'financial-card-medium':FinancialPlanning.tipoPF == 'Médio Prazo', 'financial-card-long':FinancialPlanning.tipoPF == 'Longo Prazo'}">
            <div class="card-body p-0">
                <ul class="d-flex fp-list-card mb-0">
                   
                    <li class="p-2 flex-column">
                        <small><strong>Valor</strong></small>
                        {{ fp.valorAtual | currency : 'BRL' }}
                    </li>
                    <li class="p-2 flex-column">
                        <small><strong>Conta</strong></small>
                        {{ fp.conta }}
                    </li>
                    <li class="p-2 flex-column">
                        <small><strong>Data</strong></small>
                        {{ fp.dataInicial | date: 'dd/MM/yyyy' }}
                    </li>
                    <li class="p-2">
                        
                        <button type="button" class="btn btn-sm rounded-circle me-2 btn-danger" (click)="modalDeleteFinancialPlanningHistory(fp)">
                            <i class="fas fa-trash-alt h-100" title="Excluir histórico"></i>
                        </button>

                    </li>
                </ul>


            </div>

        </div>

        

</div>

</div>
<pagination-controls class="text-center" *ngIf="FinancialPlanning"
    (pageChange)="page = $event" 
    [hidden]="FinancialHistoryPlanning?.length <= 10"
    previousLabel="" 
    nextLabel=""   
    [ngClass]="{'financial-pagination-short':FinancialPlanning.tipoPF == 'Curto Prazo', 'financial-pagination-medium':FinancialPlanning.tipoPF == 'Médio Prazo', 'financial-pagination-long':FinancialPlanning.tipoPF == 'Longo Prazo'}">
</pagination-controls>
