<!-- Modal de editar saldo -->

<div class="modal-header">

    <div class="rounded-circle circle-wallet me-2"></div>

    <h5 class="modal-title" id="exampleModalLabel">
        {{ conta }}
    </h5>

    <button type="button" class="btn-close" (click)="closeModal()"></button>
</div>
<form [formGroup]="walletUpdate" (ngSubmit)="editWallet()">

    <div class="modal-body">

        <!-- Atualiza o valor do saldo desse card -->

        <div class="form-floating mb-3">
            
            <input type="text" class="form-control" id="name-wallet" maxlength="30"
                formControlName="conta" required>
            <label for="name-wallet" class="col-form-label">Nome</label>
        </div>
        <div class="form-floating mb-3">
            
            <input type="number" class="form-control" id="value-wallet" maxlength="8"
                formControlName="valor" required>
            <label for="value-wallet" class="col-form-label">Valor (R$)</label>
        </div>


    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-warning text-light">Editar</button>
    </div>
</form>